version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: iotflow_postgres
    environment:
      POSTGRES_USER: iotflow
      POSTGRES_PASSWORD: iotflowpass
      POSTGRES_DB: iotflow
    volumes:
      - ./instance/postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U iotflow"]  
      interval: 10s
      retries: 5


